<template>
    <td class="cell" @click="pick">{{ valueToAlias }}</td>
</template>

<script>
import {EventBus} from './../main.js';

export default {
    name: 'sCell',
    props: {
        /**
        * Number of the cell
        * we use this to verify against
        * possible win scenarios
        */
        cellNumber: {
            type: Number,
            required: true
        },
    },
    mounted() {
        this.setupEventBusListeners();
    },
    beforeDestroy() {
        //listeners need to be destroied before component gets destroyed
        EventBus.$off(['reset-cells', 'update-cell']);
    },
    data() {
        return {
            value: null
        }
    },
    methods: {
        /**
        * @public
        * @description
        * Sets up the eventbus listeners
        *
        * @param (void)
        */
        setupEventBusListeners() {
            EventBus.$on('reset-cells', () => {
                this.value = null;
            });

            EventBus.$on('update-cell', (payload) => {
                if(this.cellNumber === payload.cell) {
                    this.value = payload.cell_value;
                }
            });
        },
        /**
        * @public
        * @description
        * Triggers a player's move when selecting this cell
        *
        * @param (void)
        */
        pick() {
            if(this.value === null && !this.$parent.gameOver && (this.$parent.activePlayer === this.$parent.player)) {
                this.value = this.$parent.activePlayer;
                this.$emit('playerPicked', this.cellNumber);
            }
        }
    },
    computed: {
        /**
        * returns the alias of the current player
        * or empty if cell was not picked yet
        */
        valueToAlias() {
            if(this.value === null) {
                return '';
            }

            return this.value ? 'X' : 'O';
        }
    }
}
</script>

<style scoped lang="scss">
    .cell {
      width: 33.333%;
      height: 90px;
      border: 6px solid #2c3e50;
      font-size: 3.7em;
      cursor: pointer;
    }

    .cell:hover {
        background-color: #7f8c8d;
    }

    .cell:first-of-type {
      border-left-color: transparent;
      border-top-color: transparent;
    }

    .cell:nth-of-type(2) {
      border-top-color: transparent;
    }

    .cell:nth-of-type(3) {
      border-right-color: transparent;
      border-top-color: transparent;
    }

    tr:nth-of-type(3) .cell {
      border-bottom-color: transparent;
    }
</style>
