<template>
  <div class="main-container">
    <div class="grid-container">
        <h1>You are Player{{ playerAlias }}</h1>
        <h3 class="message">{{ message }}</h3>
        <table class="grid">
            <tr>
                <s-cell v-for="k in [1, 2, 3]"
                :key="k"
                :cell-number="k"
                :game-over="gameOver"
                @playerPicked="UpdateOnPlayerMove" ></s-cell>
            </tr>
            <tr>
                <s-cell v-for="k in [4, 5, 6]"
                :key="k"
                :cell-number="k"
                :game-over="gameOver"
                @playerPicked="UpdateOnPlayerMove"></s-cell>
            </tr>
            <tr>
                <s-cell v-for="k in [7, 8, 9]"
                :key="k"
                :cell-number="k"
                :game-over="gameOver"
                :active-player="activePlayer"
                @playerPicked="UpdateOnPlayerMove"></s-cell>
            </tr>
        </table>
        <button :disabled="!gameOver" class="restart-button" @click="emitRestart">Restart game</button>
    </div>
  </div>
</template>

<script>
import sCell from './s-cell.vue';
import {EventBus} from './../main.js';

export default {
    name: 'sGrid',
    components: {
        's-cell': sCell
    },
    data() {
        return {
            //We use true for player X, false for player O
            activePlayer: 1,
            initialised: false,
            gameState: 'turn',
            moves: 0,
            gameOver: false,
            cells: {},
            message: 'Player1 begins',
            player: null,
            connections: 1,
            winScenarios: [
                [1,2,3], [4,5,6], [7,8,9],
                [1,4,7], [2,5,8], [3,6,9],
                [1,5,9], [3,5,7]
            ]
        }
    },
    created() {
        this.setupCells();
    },
    beforeDestroy() {
        this.$socket.emit('clientLeft', this.player);
    },
    methods: {
        /**
        * @public
        * @description
        * Emits a restartGame to the socket
        *
        * @param (void)
        */
        emitRestart() {
            this.$socket.emit('restartGame', {id: this.uniqueId});
        },
        /**
        * @public
        * @description
        * Restarts the game
        *
        * @param (void)
        */
        restartGame() {
            this.setupCells();
            this.gameOver = false;
            this.moves = 0;
            this.activePlayer = 1;
            EventBus.$emit('reset-cells', {});
            this.message = 'It\'s Player 1\'s turn';
        },
        /**
        * @public
        * @description
        * Sets all cells to null
        *
        * @param (void)
        */
        setupCells() {
            for(let i = 1; i <= 9; i++) {
                this.cells[i] = null;
            }
        },
        /**
        * @public
        * @description
        * Updates the game when player makes a move
        *
        * @param {integer} cell . The cell number picked
        */
        UpdateOnPlayerMove(cell) {
            this.cells[cell] = this.activePlayer;
            this.moves++;
            this.gameState = this.updateGameState();
            this.changeActivePlayer();
            this.$socket.emit('playerPicked', {
                cell: cell,
                cell_value: this.cells[cell],
                moves: this.moves,
                gameState: this.gameState,
                gameOver: this.gameOver,
                activePlayer: this.activePlayer,
                id: this.uniqueId
            });
        },
        /**
        * @public
        * @description
        * Changes the active player
        *
        * @param (void)
        */
        changeActivePlayer() {
            /**
             * ~~ double bitwise NOT operator
             * will convert a boolean into it's integer value
            */
            this.activePlayer = ~~(!this.activePlayer);
            this.message = 'It\'s player' + this.activePlayerAlias + '\'s turn';
        },
        /**
        * @public
        * @description
        * Updates the state of the game
        *
        * @param (void)
        */
        updateGameState() {
            if(this.gameWasWon()) {
                this.gameOver = true;
                return 'win';
            } else if (this.moves === 9) {
                this.gameOver = true;
                return 'draw';
            }

            return 'turn';
        },
        /**
        * @public
        * @description
        * loops through winning scenarios
        * returns true when one win scenario matches current grid state
        *
        * @param (void)
        */
        gameWasWon() {
            //eslint-disable-next-line
            for(let i = 0, scenario; scenario = this.winScenarios[i]; i++) {
                if(this.compareAgainstScenario(scenario)) {
                    return true;
                }
            }

            return false;
        },
        /**
        * @public
        * @description
        * Compares existing cells to a wining scenario
        * returns true when the game was won by one of the players
        *
        * @param (Array) scenario
        */
        compareAgainstScenario(scenario) {
            let prev_pos = this.cells[scenario[2]];
            //eslint-disable-next-line
            for(let i = 0,pos; pos = scenario[i];i++) {
                if(this.cells[pos] === null || this.cells[pos] !== prev_pos) {
                    return false;
                }

                prev_pos = this.cells[pos];
            }
            return true;
        },
        /**
        * @public
        * @description
        * gets triggered when the game state changes
        * we use it to display a message at the end of a game
        *
        * @param (void)
        */
        stateUpdate() {
            if(this.gameState === 'win') {
                this.message = 'Player' + this.reversePlayerAlias + ' won!';
            } else if( this.gameState === 'draw') {
                this.message = 'It\'s a draw!';
            }
        }
    },
    computed: {
        /**
        * Returns the alias of player you are
        */
        playerAlias() {
            return this.player ? '1' : '2';
        },
        /**
        * Returns the opposite of the active player
        * we use it at the end of the game to display the winner
        */
        reversePlayerAlias() {
             return this.activePlayer ? '2' : '1';
        },
        /**
        * Returns the alias of the current active player
        */
        activePlayerAlias() {
            return this.activePlayer ? '1' : '2';
        },
        /**
        * Returns a unique id
        */
        uniqueId() {
            return '_' + Math.random().toString(36).substr(2, 9);
        }
    },
    sockets: {
        /**
        * @description
        * When receiving connect confirmation from the server,
        * Emits you have joined
        *
        */
        connect() {
            this.$socket.emit('clientJoined', this.uniqueId);
        },
        /**
        * @description
        * When a player join, we update the connections count
        * if the client listenig is different than the one that
        * generated this emit, we set the player
        *
        */
        joinAlert(data) {
            this.connections = data.count;

            if(data.id === this.uniqueId) {
                if(data.count === 1) {
                    this.player = 1;
                } else if (data.count === 2) {
                    this.player = 0;
                }
            }
        },
        /**
        * @description
        * Updates connections count and sets the player to be Player1,
        * if he is the only one remaining on the connection
        * Gets triggered on client disconnect
        *
        */
        updateCount(data) {
            this.connections = data.count;
            if(this.player === 0 && (this.connections === 1)) {
                this.player = 1;
            }

            if(this.connections === 1) {
                this.emitRestart();
            }

            this.$socket.emit('checkPlayers', {id: this.uniqueId, player: this.player});
        },
        /**
        * @description
        * Updates the grid after a players move
        *
        */
        updateGrid(data) {
            if(data.id !== this.uniqueId) {
                this.cells[data.cell] = data.cell_value;
                EventBus.$emit('update-cell', {cell: data.cell, cell_value: data.cell_value});
                this.moves = data.moves;
                this.gameState = data.gameState;
                this.gameOver = data.gameOver;
                this.changeActivePlayer();
            }
        },
        /**
        * @description
        * Used to make sure we don't have the same player twice if one of them refreshes the page
        *
        */
        playersCheck(data) {
            if(data.player === this.player && this.uniqueId !== data.id) {
                this.player = ~~(!this.player);
            }
        },
        /**
        * @description
        * Restarts the game
        *
        */
        restartGame() {
            this.restartGame();
        }
    },
    watch: {
        'gameState': 'stateUpdate'
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
div.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    table.grid {
      background-color: #717BCB;
      color: #fff;
      width: 100%;
      border-collapse: collapse;
      max-width: 400px;
    }

    button.restart-button {
        width: 406px;
        background-color: #EF5E3F;
        border-width: 0;
        color: #fff;
        padding: 15px;
        font-size: 23px;
        cursor: pointer;
    }
}

</style>
