<template>
  <div class="home">
    <s-grid></s-grid>
  </div>
</template>

<script>
// @ is an alias to /src
import sGrid from './../components/s-grid.vue'

export default {
	name: 'home',
	components: {
		's-grid' : sGrid
	},
	data() {
		return {
			wins: {
				O: 0,
				X: 0
			}
		}
	}
}
</script>
